* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif ;
}

body {
  background: #EDF1D6 ;
}
.integerkey-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #9DC08B;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #40513B;
  font-size: 34px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.integerkey-form {
  margin-bottom: 32px;
}

.integerkey-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #609966;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.integerkey-input::placeholder {
  color: #e2e2e2;
}

.integerkey-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #609966;
  color: #fff;
  text-transform: capitalize;
}

.integerkey-input.edit {
  border: 2px solid #40513B;
}

.integerkey-button.edit {
  background: #609966;
  padding: 16px 22px;
}

.integerkey-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.asset-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #609966;
  background: #EDF1D6 ;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}


.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #609966;
}

.edit-icon {
  color: #609966;
  margin-right: 2px;
}

.refresh-button{
  background-color: #9DC08B;
  border-width: 35;
  border-radius: 5%;
  border-style: hidden;
}