.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif ;
}

table {
  width: 100%;
  justify-content: center;
}

table td{
  font-size: 12px;
}

#PAN-column{
  font-size: 14px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #c6e1f9;
}

#scorebutton{
  background-color: #ffffff;
  border-radius: 5%;
  border-color:#ffffff;
  margin: 0 5px; 
}

#scorerow{
  display:flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
}


table th {
  background-color: #4298e3;
  font-weight: normal;
}


.form-container {
  margin-bottom: 20px;
}

form {
  margin-left:0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form label {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

form input {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

form select{
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

form button[type="submit"] {
  width: 60px;
  height: 40px;
  padding: 5px 10px;
  background-color: rgb(9, 149, 225);
  color: #fff;
  border-radius: 15%;
}

#voucher-generator-button{
  width: 90px;
  height: 30px;
  font-size: 14px;
  background-color: #4298e3;
  color: black;
  border: none;
}


.owner-supplier-dialog{
  background-color: #90cbff;
  padding: 20px;
}