.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
  width: 100%;
  justify-content: center;
}

table td {
  font-size: 12px;
}

#PAN-column {
  font-size: 14px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #c6e1f9;
}

#scorebutton {
  background-color: #ffffff;
  border-radius: 5%;
  border-color: #ffffff;
  margin: 0 5px;
}

#scorerow {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
}

table th {
  background-color: #4298e3;
  font-weight: bold;
}

.form-container {
  margin-bottom: 20px;
}

form {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form label {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

form input {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

form select {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

form button[type='submit'] {
  width: 60px;
  height: 40px;
  padding: 5px 10px;
  background-color: rgb(9, 149, 225);
  color: #fff;
  border-radius: 15%;
}

#voucher-generator-button {
  width: 90px;
  height: 30px;
  font-size: 14px;
  background-color: #4298e3;
  color: black;
  border: none;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.dialog-container {
  background-color: #69b0ef;
  padding: 20px;
  border-radius: 4px;
  width: 600px;
  height: 600px;
}

.voucher-dialog-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 200px;
  align-items: center;
  justify-items: center;
}

.voucher-dialog-buttons button {
  background-color: #b3daff;
  width: 150px;
  height: 100px;
  border: none;
  border-radius: 10%;
  font-size: medium;
  margin-top: 25px;
  margin-bottom: 25px;
}

.close-dialog-button {
  background-color: #ffffff;
  border: none;
}

.generate-voucher-button {
  border: none;
  border-radius: 50%;
  background-color: #84c6ff;
  width: 80px;
  height: 30px;
  font-size: 15px;
  margin-left: 18px;
  margin-right: 10px;
}

.new-voucher-form{
  display: flex;
  flex-direction: column;
}

.new-voucher-form-group{
  margin-top: 25px;
}

.new-voucher-form-submit{
  margin-top:25px;
}

.cancel-voucher-form-submit{
  margin-top:25px;
}

.cancel-voucher-button{
  border: none;
  background-color: #0088ff;
}

.voucher-details-display{
  width:350px;
  height: 250px;
  font-size: 14px;
  font-weight: lighter ;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  border-style: dotted;

}

.cancel-voucher-form-group{
  margin-top:50px;
  margin-left: 25px;
  align-items:normal;
}


#verify-voucher-button{
  margin-left:25px;
  height: fit-content;
  width: fit-content;
  border-radius: 5%;
  background-color: #0088ff;
  color: #ffffff;
  border: none;
  font-size: 14px;
}

.display-voucher-field{
  display: flex;
  align-items: center;
}

.cancel-voucher-button{
  margin-left:425px;
  height: 50px;
  width: 150px;
  border-radius: 5%;
  background-color:#128cf6;
  color: #ffffff;
  font-size: 14px;
}


.update-voucher-button{
  margin-left:425px;
  height: 50px;
  width: 150px;
  border-radius: 5%;
  background-color:#128cf6;
  color: #ffffff;
  font-size: 14px;
}

.display-voucher-field-update{
  display: flex;
  align-items: center;
  width:250px;
  height:250px;
  margin-top: 50px;
}

.update-voucher-form-group{
  margin-top:50px;
  margin-left: 25px;
  align-items:normal;
}


.update-voucher-details-display{
  width:350px;
  height: 150px;
  font-size: 14px;
  font-weight: lighter ;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 225px;
  border-style: dotted;

}


.close-list-dialog-button{
  margin-top: 25px;
}

.approve-voucher-form-submit{
  margin-top:25px;
}

.approve-voucher-button{
  margin-left:425px;
  height: 50px;
  width: 150px;
  border-radius: 5%;
  background-color:#128cf6;
  color: #ffffff;
  font-size: 14px;
  border: none;
}

.approve-voucher-form-group{
  margin-top:50px;
  margin-left: 25px;
  align-items:normal;
}